*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family: 'Muller';
  background-color: #F9F9F9;
}
img {
  width: 100%;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
button,
input{
  outline: none;
  resize: none;
  font-family: inherit;
}
/* Логотип */
.logo{
  margin: 3vw auto 1.5vw;
  display: flex;
  flex-direction: column;
}
.logo_img {
  margin: 0 auto;
  width: 7vw;
  height: 7vw;
  text-align: center;
}
.logo_title{
  padding: 1vw 0;
  font-style: normal;
  font-weight: bold;
  font-size: 1.82vw;
  text-align: center;
  color: #5294EE;
}

/* форма */
.autor_content {
  width: 36.45vw;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0.52vw;
}
.form{
  display: flex;
  flex-wrap: wrap;
  padding: 3vw 2.6vw 2.1vw;
  justify-content: space-between;
  align-items: center;
  font-size: 0.833vw;
  position: relative;
}
.progress{
  width: 36.45vw;
  height: 0.52vw;
  border: 0px solid #E8E8E8;;
  border-radius: 0.52vw 0.52vw 0 0;
  background: #E8E8E8;
  border-left-color: #5294EE;
  border-left-width: 10vw;
  position: absolute;
  left: 0;
  top: 0;
}
.autor_title {
  font-size: 1.14vw;
  font-weight: bold;
  line-height: 1.14vw;
  text-align: center;
  color: #5294EE;
  margin-bottom: 0.8vw;
}
.autor__subtitle {
  font-family: Gotham Pro;
  font-size: 0.937vw;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.8vw;
  line-height: 1.30vw;
  width: 80%;
}
.autor_toggle {
  display: flex;
  margin-bottom: 0.8vw;
}
.toggleleft,
.toggleright {
  font-size: 0.83vw;
  padding: .6vw 1vw;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  cursor: pointer;
}
.toggleleft {
  color: rgba(0, 0, 0, 0.5);
  border-radius: 5px 0px 0px 5px;
  border-right: 0;
}
.toggleright {
  border-radius: 0px 5px 5px 0px;
  border-left: 0;
}
.toggle_active{
  background: #5294EE;
  box-shadow: 0px 4px 15px rgba(137, 181, 241, 0.5);
  color: #fff;
}
.autor_input{
width: 100%;
  margin: 0.3vw 0 0.5vw 0;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 1.14vw;
  padding: 0.8vw;
}
.password_wrapper{
  position: relative;
  width: 100%;
}
.password-control {
  position: absolute;
  top: 1.3vw;
  right: 1vw;
  display: inline-block;
  width: 1.5vw;
  height: 1.2vw;
  background: url(../img/icons/view.svg) 0 0 no-repeat;
  background-size: 1.5vw;
}
.title_input{
  width: 100%;
  font-weight: 500;
  font-size: 1.145vw;
  color: #474B5A;
  margin-top: 1.2vw;
}
.autor_button {
  width: 55%;
  margin: 2.2vw 0;
  padding: 0.8vw;
  font-size: 1.145vw;
  color: #fff;
  border: 0;
  cursor: pointer;
  background: #5294EE;
  border-radius: 6px;
}
.lostpwd{
  font-family: Gotham Pro;
  font-size: 0.937vw;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 4vw;
  padding-bottom: 0.2vw;
  border-bottom: 1px solid #eee;
}
.back{
  width: 100%;
  margin: 2vw 0 1vw;
}

/* футер */
.autor_footer {
  position: absolute;
  display: block;
  right: 0;
  margin: 1vw;
  bottom: 0;
  font-family: Gotham Pro;
  font-size: 0.937vw;
  line-height: 1.406vw;
  width: 20vw;
  color: rgba(0, 0, 0, 0.6);
}
.autor_footer p {
  margin: 0.7vw 0;
}
.autor_icon {
  display: flex;
}
.autor_icon img{
  width: 6%;
}
.autor_icon a {
  padding: 0 7px;
  margin: auto 0;
  text-decoration: none;
}
.footer_title{
  color: rgba(0, 0, 0, 0.3);
}
