


<p style="text-align:center"><img alt="" src="https://upload.wikimedia.org/wikipedia/ru/c/cf/%D0%9B%D0%BE%D0%B1%D0%BE%D1%81_%D0%A3%D0%9F%D0%9D%D0%A4%D0%9C_%28%D0%BB%D0%BE%D0%B3%D0%BE%29.png" style="height:271px; width:300px" /></p>

<p style="text-align:center"><strong><span style="font-size:70px"><span style="color:#5294EE">Единый портал</strong></p>

<p style="text-align:center">&nbsp;</p>
<p style="text-align:center"><span style="font-size:75px;font-family:roboto,monospace;font-weight:500;"><strong><span style="color:#606060">Восстановление пароля</span></strong></span></span></p>


<div style="color:#131313; font-family:roboto mono,monospace; font-size:38px;" >
	<p>Здравствуйте, Виктор Федорович!</p>
	<p>С Единого портала пришла заявка на восстановление вашего аккаунта. Скоро вы получите доступ до вашей учетной записи &ldquo;laterpost@yandex.ru&rdquo;.</p>
	<p>Для сброса пароля необходимо перейти по ссылке ниже.</p>
	<p>В случае, если вы не делали попыток восстановления своего аккаунта и у вас все работает, просим обратиться в тех.поддержку. Данное сообщение несет информационный характер и отвечать на него не нужно.</p>
	<p>С уважением, Тех. поддержка Единого портала&nbsp;</p>
</div>

<p><span style="background-color:rgb(255, 255, 255); color:rgb(170, 170, 170); font-family:roboto mono,monospace; font-size:11px">&nbsp;+7 (000) 000-00-00&nbsp;&nbsp;+7 (000) 000-00-00&nbsp;</span>http://исгу.рф</p>

<p style="text-align:center">&nbsp;</p>
