
<div style="background: #E5E5E5; padding: 1.04vw; margin-bottom: 3.125vw">
	<p style="text-align:center"><img alt="" src="img/logo_lipa.svg" style="height:14.11vw; width:15.62vw" /></p>
	<p style="text-align:center"><span style="font: 3.38vw 'roboto', 'arial', 'helvetica', sans-serif;"><span style="color:#5294EE; font-weight: bold;">Единый портал</p>
</div>

<div style="color:#131313; font: 3.38vw 'roboto', 'arial', 'helvetica' , sans-serif;" >

	<p style="text-align:center"><strong><span style="font-size: 3.90vw;color:#606060">Восстановление пароля</span></strong></p>

	<p>Здравствуйте, Виктор Федорович!</p>
	<p>С Единого портала пришла заявка на восстановление вашего аккаунта.<br>Скоро вы получите доступ до вашей учетной записи &ldquo;laterpost@yandex.ru&rdquo;.</p>
	<p>Для сброса пароля необходимо перейти по ссылке ниже.</p>

	<a href="#" style="display: block;text-align:center;background: #5294EE;border-radius: 13px;height:7.29vw;width:51.04vw;line-height: 7.29vw;margin: 3.12vw auto;color: #FFFFFF;text-decoration: none;font-weight: 500;font-size: 3.23vw;">Сбросить пароль</a>

	<p>В случае, если вы не делали попыток восстановления своего аккаунта и у вас все работает, просим обратиться в тех.поддержку. Данное сообщение несет информационный характер и отвечать на него не нужно.</p>
	<p>&nbsp;</p>
	<p>С уважением,<br>Тех. поддержка Единого портала</p>
</div>

<div style="display: flex;justify-content: space-between;padding-top: 3.12vw; color:#131313; font: 3.38vw 'roboto', 'arial', 'helvetica' , sans-serif;">
	<p>+7 (000) 000-00-00</p>
	<p>+7 (000) 000-00-00</p>
	<p style="width: 32vw;text-align: end;"><a href="http://исгу.рф">http://исгу.рф</a></p>
</div>




