

<div style="background: #E5E5E5; padding: 20px; margin-bottom: 60px">
	<p style="text-align:center"><img alt="" src="img/logo_lipa.svg" style="height:271px; width:300px" /></p>
	<p style="text-align:center"><span style="font: 65px 'roboto', 'arial', 'helvetica', sans-serif;"><span style="color:#5294EE; font-weight: bold;">Единый портал</p>
</div>


<div style="color:#131313; font: 38px 'roboto', 'arial', 'helvetica' , sans-serif;" >

	<p style="text-align:center"><strong><span style="font-size: 75px;color:#606060">Восстановление пароля</span></strong></p>

	<p>Здравствуйте, Виктор Федорович!</p>
	<p>С Единого портала пришла заявка на восстановление вашего аккаунта.<br>Скоро вы получите доступ до вашей учетной записи &ldquo;laterpost@yandex.ru&rdquo;.</p>
	<p>Для сброса пароля необходимо перейти по ссылке ниже.</p>

	<a href="#" style="display: block;text-align:center;background: #5294EE;border-radius: 13px;height:140px;width:980px;line-height: 140px;margin: 60px auto;color: #FFFFFF;text-decoration: none;font-weight: 500;font-size: 62px;">Сбросить пароль</a>

	<p>В случае, если вы не делали попыток восстановления своего аккаунта и у вас все работает, просим обратиться в тех.поддержку. Данное сообщение несет информационный характер и отвечать на него не нужно.</p>
	<p>&nbsp;</p>
	<p>С уважением,<br>Тех. поддержка Единого портала</p>
</div>

<div style="display: flex;justify-content: space-between;padding-top: 60px; color:#131313; font: 38px 'roboto', 'arial', 'helvetica' , sans-serif;">
	<p>+7 (000) 000-00-00</p>
	<p>+7 (000) 000-00-00</p>
	<p style="width: 50%;text-align: end;"><a href="http://исгу.рф">http://исгу.рф</a></p>
</div>




